body{
	background-color: #dfecf4;
	color: #001070;
	height: auto;
}

#status{
	margin:0 auto;
	background-color: #D0E0FF;
	width: 100%;
	position: relative;
}

#status #personName{
	margin-left: 1em;
}

#status a:link,
	#status a:visited,
	#status a:link:active,
	#status a:visited:active{
	color: #001070;
	text-decoration: none;
	cursor: auto;
}
#status tr td{

}
#status .right{
	text-align: right;
}
#status .left{
	text-align: left;
}

.categories{
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: 
	list-style: none;
	text-align: center;
}

nav.categories >ul>li>a{
	color: #000000;
	font-size: 1.3em; 
}
#services_categories li{
	margin: 0, auto;
	margin-right: 1em;
	padding: auto;
	display: inline;
	text-decoration: none;
}

#content{
	margin-left: 19em;
	position: absolute;
	top: 8em;
	width: 60%;
	
}

nav.vertical{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 6em;
	left: -1em;
	overflow: hidden;
	text-align: left;
	width: 15em;
	font-size: 1.1em
}
nav.vertical >ul{
	list-style-type: none;
}
nav.vertical >ul >li{
	display: block;
}
nav.vertical >ul >li> a{
	color: #000000;
}
nav.vertical >ul>hr{
	width: 17em;
}

table.antrage{
	margin: 0 auto;
	padding: 0;
	width:100%;
	position: relative;
	text-align: center;
}

table.formular{
	width:	20em;
}

div.save{
	margin: 0 auto;
	padding: auto;
	text-align: center;
}
div.help{
	margin: 0;
	margin-left: 90%;
	top: -2em;
}