/* Code tidied up by ScrapBook */
#CONTENTBOX { font-size: 135% !important; }
#LEFTNAV ol { font-size: 110% !important; }
#LEFTNAV ol li .normal, #LEFTNAV ol li .active, #LEFTNAV ol li .normal:hover, #LEFTNAV ol li .active:hover { font-size: 14px; }
.ServiceLevel a { font-size: 12px; }
#rigthLevel0 a { font-size: 14px; }
