body{
	background-color: #dfecf4;
	color: #001070;
}

#status{
	margin:0 auto;
	background-color: #D0E0FF;
	width: 100%;
	position: relative;
}
#status a:link,
	#status a:visited,
	#status a:link:active,
	#status a:visited:active{
	color: #001070;
	text-decoration: none;
	cursor: auto;
}
#status tr td{

}
#status .right{
	text-align: right;
}
#status .left{
	text-align: left;
}

#service_category{
	margin:0 auto;
	padding: 0;
	display: inline;	
}